.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 95, 134, 0.5);
}

.content {
  position: relative;
  background-color: rgb(89, 164, 180);
  padding: 30px;
  overflow: hidden;
  max-width: 1000px;
  border: none;
  border-radius: 5px;
  h1 {
    font-size: 2rem;
  }
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
