.hero {
  background-image: url('../../assets/images/HomePageCar1x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100vh - 68px);
}

@media only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../../assets/images/HomePageCar2x.png');
  }
}

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color-white);
  text-align: center;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 40px;
}

.btn {
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  padding: 12px 88px;
  color: var(--main-color-white);
  background: var(--main-color-button);
}

.btn:hover,
.btn:focus {
  background-color: var(--main-color-button-hover);
}
